.header-wrapper{
    width:100%;
    display:flex;
    justify-content: center;
}
.main-header {
    width:100%;
    color:white;
    font-size:20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    gap:15px;
}

.main-header .main-nav-item {
    text-decoration:none;
    line-height: 125%;   
    color:white;
    text-decoration:none;
}

.main-navigation{
    gap:30px;
    display:none;
}

.main-nav-item:hover {
    text-decoration:underline;
}


/* ******************************MEDIA********************************* */
@media (min-width:580px){
    .main-header{width:60%;}
}

@media (min-width:1000px){
    .main-header{width:52%;}
}

@media (min-width:1200px){
    .main-navigation{
        display:flex;
    }

    .logo{
        width:187px;
    }
    .hamburger{
        display:none;
    }
}