.main-header{
    color:white;
    font-size:20px;

}

.main-header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.main-header .main-nav-item {
    text-decoration:none;
    line-height: 125%;
    color: white;
    
    
}

.main-navigation{
    gap:30px;
    display:none;
}

.main-nav-item{
    font-size:20px;
}

.main-nav-item:hover {
    text-decoration:underline;
}

@media (min-width:1200px){
    .main-navigation{
        display:flex;
    }

    .hamburger{
        display:none;
    }
}